<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
<body>
  
  <%- include ('./partials/nav.ejs') %>

  <!-- Main container -->
  <div class="dashboard"> 
    
    <!-- Sidebar -->
    <%- include ('./partials/sidebar.ejs') %>

    <div class="dashboard-container">
      <!-- Title -->
      <div class="dashboard-title">
        <h2>Janeiro 2021</h2>
      </div> 

      <!-- First column -->
      <div class="dashboard-stats">
        <div class="dashboard-column">
          <h4>Artista Mais Ouvido</h4>
          <img class="dashboard-img border" src=<%= artist.image %>>
          <h5><%= artist.name %></h5>
          <h6><%= artist.playcount %> Scrobbles</h6>
        </div>

        <!-- Second column -->
        <div class="dashboard-column">
          <h4>Álbum Mais Ouvido</h4>
          <img class="dashboard-img border" src=<%= album.image %>/>
          <h5><%= album.artist['#text'] %> — <%= album.name %></h5>
          <h6><%= album.playcount %> Scrobbles</h6>
        </div>

        <!-- Third column -->
        <div class="dashboard-column">
          <h4>Música Mais Ouvida</h4>
          <img class="dashboard-img border" src=<%= track.image %>>
          <h5><%= track.artist['#text'] %> — <%= track.name %></h5>
          <h6><%= track.playcount %> Scrobbles</h6>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('./partials/footer.ejs') %>
<script>
  var activeLink = document.getElementById("home");
  var sidebarActiveLink = document.getElementById("sidebar-home");
  activeLink.classList.add("active");
  sidebarActiveLink.classList.add("active-link");
</script>
</html>